<h3>Welcome!</h3>

<p>Here are the recent posts:</p>
<ul>
  <% @posts.each do |post| %>
    <li>
    	<%= link_to post.title, post %>
    	[<%= link_to 'edit', edit_post_path(post) %>]
    </li>
  <% end %>
</ul>