<h3>Welcome!</h3>

<% if !logged_in? %>
  <p>Register or Login to vote on your favorite posts. No email required!</p>
<% end %>

<h5>Recent posts:</h5>

<% @posts.each do |post| %>
  <%= render 'shared/post', post: post %>
<% end %>